p {
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.11;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.33;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.6;
}

h4 {
  line-height: 1.5;
}
